/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  position: relative;
  background: url("assets/background.jpg") no-repeat;
  background-size: cover;
  margin: 2rem;
}

a {
  text-decoration: none;
}

/* FONT */

@font-face {
  font-family: "Rick And Morty";
  src: url(assets/fonts/get_schwifty.ttf);
}

/* CSS */

.container {
  max-width: 1400px;
  min-height: 100vh;
  margin: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 4rem;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Chakra Petch", sans-serif;
}

.intro-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about,
.discover {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 3rem;
}

h1.about-title,
h2.discover-title {
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.synopsis,
.click-the-button-paragraph {
  font-size: 1.8rem;
}

.btn-paragraph {
  background-color: #fff;
  width: 35%;
  padding: 1rem 3rem 1rem 1.5rem;
  border-radius: 4rem;
}

button {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
}

.btn-portal {
  cursor: pointer;
  width: 5.5rem;
  position: absolute;
  top: -4.8rem;
  left: 12.5rem;
}

.character-result-container {
  background-color: #fff;
  border-radius: 1rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-right: 7rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.intro-container,
.character-result-container {
  padding: 2rem;
}
